# ===============================
# Python cache & compiled files
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environments
# ===============================
env/
venv/
.venv/

# ===============================
# Jupyter Notebook checkpoints
# ===============================
.ipynb_checkpoints/

# ===============================
# Ignore only large raw datasets
# ===============================
tmdb_5000_credits.csv
tmdb_5000_movies.csv

# ===============================
# OS / Editor files
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Streamlit cache
# ===============================
.streamlit/

# ===============================
# Logs
# ===============================
*.log

# Large similarity matrix (downloaded at runtime)
similarity.pkl

