# ===============================
# Python cache & compiled files
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environments
# ===============================
env/
venv/
.venv/

# ===============================
# IDE files
# ===============================
.idea/

# ===============================
# Jupyter Notebook checkpoints
# ===============================
.ipynb_checkpoints/
*.ipynb

# ===============================
# Model & pickle files
# ===============================
*.pkl
*.joblib
!models/movie_dict.pkl

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
